/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

/*General Styles*/
*,*:before,*:after{
  box-sizing: border-box;
}

body{}

img{
  width: 100%;
}

a.a-block{
    display: block;
    text-decoration: none;
}

a.a-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}

.navbar{
background-color:#584843;
padding-top: 15px;
  li{
    color:#fff;
  }
  a {
    text-decoration: none;
    color:#EBE5D6;
  }

}

i {
  color:#fff;
  text-shadow: 1px 1px 1px #fff;
    font-size: 1.5em;

}

body {padding-top: 65px;}

.sidebar {
  background-color: #EBE5D6;
  list-style: none;
  margin-right: 30px;
  height:900px;
  width: 200px;
  float:left;
  margin-left: 0;
  padding-left: 0;
    ul {
      padding-left: 0;
    }

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    text-align: center;
    color: #584843
    line-height;
  }
}

.messages {
  overflow: scroll;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
  height:600px;
  width:400px;
}

.message {
    font-size: 2rem;
    margin-top: 2rem;
    cite {
      color: #ccc;
      font-size: 1rem;
      font-style: italic;
    }
  }
